/* google font import*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* color declaration*/
/*heading declaration*/
.heading {
  text-transform: uppercase;
  font-weight: 900 !important;
}

/*sub heading declaration*/
.sub-heading {
  font-size: 24px;
  color: #808080;
}

/*underline style*/
.underline {
  height: 5px;
  background-color: #000;
  width: 5%;
}

.title {
  font-weight: 800;
}

/*space declaration*/
.space {
  height: 50px;
}

/*css reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

/*body font-family*/
body {
  font-family: "Poppins", sans-serif;
}

body p {
  font-size: 1.3rem;
}

/*navbar css*/
.navbar {
  background: #f8f9fa !important;
  border-bottom: 3px solid #ffc201;
}

.navbar .nav-item {
  padding: 10px;
}

.navbar .nav-link {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.navbar .nav-link:hover {
  color: #fff;
}

/*hero section css*/
.hero {
  background: url(../image/cover.jpg);
  height: 1000px;
}

.hero .hero-title {
  text-align: center;
  top: 50%;
}

.hero .hero-title h1 {
  font-size: 5em;
}

/* about us section css*/
.about-us-img {
  text-align: center;
}

.about-us-img img {
  width: 100%;
  border-radius: 20px;
}

.about-us-right {
  border-left: 5px solid #808080;
  padding-left: 30px;
  text-align: justify;
  padding-top: 5%;
}

.about-us-right .about-us-title {
  padding-bottom: 10px;
}

.about-us-right .about-us-content > p {
  padding-top: 20px;
}

.about-us-right .motive {
  font-size: 22px;
  background-color: #d3d3d3;
  padding: 10px 20px 10px 20px;
  border-left: 10px solid #ffc201;
  border-right: 10px solid #ffc201;
}

/*features section css*/
.features-title {
  text-align: center;
}

.features-text-content h2 {
  padding-bottom: 20px;
}

.features-text-content p {
  text-align: justify;
}

.features-img img {
  width: 100%;
}

/*team section css*/
.team-heading {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.team-heading h2 {
  font-size: 40px;
  font-weight: 700;
}

.card {
  -webkit-box-shadow: 1px 7px 20px 7px #00000024;
          box-shadow: 1px 7px 20px 7px #00000024;
  border: 1px solid #ffc201;
  text-align: center;
}

/*contact area css*/
.contact {
  background-color: #f8f9fa;
  padding: 50px 0px 50px 0px;
}

.contact-title {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.contact-title h2 {
  font-weight: 700;
}

.contact-form {
  padding: 10px;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #01013f;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffc201;
  color: #01013f;
}

.map {
  border: 2px solid #ffc201;
}

/*footer section css*/
.footer {
  background-color: #01013f;
  color: #fff;
  text-align: center;
  padding: 50px 0px 50px 0px;
  border-top: 3px solid #ffc201;
}

.footer .footer-col {
  padding: 15px 0px 15px 0px;
}

.footer .email-link a {
  color: #fff;
}

.footer .email-link a:hover {
  color: #ffc201;
  text-decoration: none;
}

.footer .footer-logo {
  padding-bottom: 20px;
}

.footer .copy-right a {
  color: #fff;
}

.footer a:hover {
  color: #ffc201;
  text-decoration: none;
}

.footer .social-links {
  display: inline;
  font-size: 2.5rem;
}

.footer .social-links a {
  color: #fff;
}

.footer .social-links a:hover {
  color: #ffc201;
}
/*# sourceMappingURL=styles.css.map */